header {
    margin-bottom: 100px;
}

h1.title {
    color: transparent;
    background-image: linear-gradient(to bottom, #FFEB3B, #FF9800, #F44336);
    background-clip: inherit;
    -webkit-background-clip: text;
    letter-spacing: 0;
}

#menu-title {
    font-size: 100px;
}

.fade-in-title {
    animation: fadeInTitle 1.5s ease-in-out forwards;
}

@keyframes fadeInTitle {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    20% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-btn {
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    opacity: 0;
    transform: translate(20px);
}

.btn:active, .btn:hover {
    transform: translateY(5px);
    box-shadow: 0 5px black, 0 -5px black, 5px 0 black, -5px 0 black, inset 0 5px #00000038;
}

.btn-fade-in {
    opacity: 1;
    transform: translate(0);
}

#background-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../src/menu/space-backgound.png');
    background-size: cover;
    background-position: center;
    z-index: 0;
    overflow: hidden;
}

#stars {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    animation: star-shimmer 10s infinite linear;
}

@keyframes star-shimmer {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(-10px) translateY(5px);
    }
    50% {
        transform: translateX(0) translateY(0);
    }
    75% {
        transform: translateX(10px) translateY(-5px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

#asteroid-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.7;
}

.asteroid {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 2;
}

.asteroid:not(.ring-planet) {
    animation: rotate-asteroid linear infinite;
    animation-duration: 5s;
}

.ring-planet {
    width: 300px;
    height: 300px;
}

@keyframes rotate-asteroid {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
