
#settings-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.settings-content {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

select {
    width: 150px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 17px;
    cursor: pointer;
    font-family: 'DungGeunMo', sans-serif;
    user-select: none;
    appearance: none;
    outline: none;
    box-shadow: 0 5px black, 0 -5px black, 5px 0 black, -5px 0 black, 0 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0 5px #ffffff36;
    text-align: center;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper::before {
    content: '';
    position: absolute;
    right: 7px;
    top: 7px;
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9" /></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}

select > option {
    display: flex;
    justify-content: center;
    align-items: center;
}

option:hover, option:active {
    box-shadow: 0 0 10px 100px #1882A8 inset;
    transform: translateY(5px);

}

input[type="range"] {
    -webkit-appearance: none;
    height: 8px;
    background: #ddd;
    outline: none;
    transition: background 450ms ease-in;
    box-shadow: 0 5px black, 0 -5px black, 5px 0 black, -5px 0 black, 0 10px #00000038, 5px 5px #00000038, -5px 5px #00000038;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--main-color);
    cursor: pointer;
    box-shadow: 0 5px black, 0 -5px black, 5px 0 black, -5px 0 black, 0 10px #00000038, 5px 5px #00000038, -5px 5px #00000038;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-hover);
    transition: background-color 0.3s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    top: 3px;
    background-color: white;
    transition: transform 0.3s;
    border-radius: 50%;
}

.switch input:checked + .slider {
    background-color: #00B2B0;
}

.switch input:checked + .slider::before {
    transform: translateX(22px);
}

.ball-selector {
    display: flex;
    align-items: center;
    gap: 15px;
}

.ship-selector img {
    padding: 1px;
}

.ship-btn {
    cursor: pointer;
}

.ship-selected {
    box-shadow: 0 5px black, 0 -5px black, 5px 0 black, -5px 0 black, 0 10px #00000038, 5px 5px #00000038, -5px 5px #00000038;
    transform: translateY(-3px);
}